.tio-navigation {
    margin-bottom: 15px;
}

.tio-error-log-box {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
